<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="ConsoleLogAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="FileLogAppender" class="org.apache.log4j.RollingFileAppender">

        <param name="File" value="/tmp/justshareme.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="1"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="WARN"/>
        <appender-ref ref="ConsoleLogAppender"/>

    </root>

</log4j:configuration>
